.bounceMe {
  /* Add the animation bounceArrow here */
  animation: bounceArrow .7s infinite;
rotate: 270deg;
}
.spinMe {
  /* Add the animation for spin on the line below  */
animation: spin .5s infinite;
background: linear-gradient(blue, green);
border-radius: 50%;
}

#progressbar {
  background-color: black;
  border-radius: 5px;
  margin-top: 61px;
  padding: 3px;
}
#progressbar > .orangeBar {
  background: linear-gradient(
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
  );
  width: 40%;
  height: 20px;
  border-radius: 5px;
  /* add the animation name here for the progress bar */
  animation: loadBar 5s infinite;
  animation-fill-mode: forwards;
}
.movingBox {
  width: 50px;
  height: 50px;
  background-color: red;
  /* Add the animation name here to mox the box */
  animation: movingBox 5s infinite;

}


@keyframes bounceArrow {
  from {
    margin-left: 0px;

  }
  50% {
    margin-left: 500px;

  }
  to {margin-right: 0px;

  }
}

@keyframes spin {
  from {
    transform: rotate(720deg);

  }
  to {transform: rotate(-720deg);

  }
}

@keyframes loadBar {
  from {width: 0%;


  }
  to {
    width: 100%;

  }
}

@keyframes movingBox {
  from {
    transform: translate(100px, 0px, 0px);
  }
  25% {
    transform: translate3d(50px, 25px, 0px);
  }
  50% {
    transform: translate3d(100px, 50px, 0px);
  }
  75% {
    transform: translate3d(200px, 100px, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}


/* these values are used to display the grid and items*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "arrow preload"
  "loadingBar loadingBar"
  "boxMove boxMove"
  ;
}
.gridChild {
  margin: 15px;
  padding: 15px;
  height: 200px;
}
.arrow {
  grid-area: arrow;
  text-align: center;
}
.preload {
  grid-area: preload;
  text-align: center;
}
.loadingBar {
  grid-area: loadingBar;
}
.boxMove {
  grid-area: boxMove;
}
